<!DOCTYPE html>
<html>
<head>
  <title>Your App Name</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= javascript_pack_tag 'application' %>
</head>
<body>

<header>
  <h1>ウーバー坪内</h1>
  <div class="hamburger-menu">
    <!-- ハンバーガーメニューアイコン -->
    <div class="hamburger-icon"></div>
  </div>
</header>

<%= yield %>

<footer>
  <p>©坪内学園</p>
</footer>

</body>
</html>
