<main search_main>
    <p>氏名</p>
    
    <div class="recipient_box">
        <div class="search_results">
            <div class="search name">
                <p>・受取人氏名　〇〇　〇〇</p>
            </div>
            <div class="search number">
                <p>・学籍番号　〇〇1234</p>
            </div>
            <div class="search lunch">
                <p>・弁当の種類　弁当X</p>
            </div>
        </div>
        <button class="problem">問題発生</button>
        <button class="nonproblem">受取完了</button>
    </div>
</main>