<main>
    <div class="kakuninn">
        <p>数量の確認が済んだら「数量確認ボタンを押して下さい」</p>
    </div>
    <div>
        <div class="check_box">
            <div class="check_box_men"><input type="checkbox" name="bentou" value="1">弁当1　：予約〇個<br>当日〇個<br>総数〇個</div>
            <div class="check_box_men"><input type="checkbox" name="bentou" value="2">弁当2　：予約〇個<br>当日〇個<br>総数〇個</div>
            <div class="check_box_men"><input type="checkbox" name="bentou" value="3">弁当3　：予約〇個<br>当日〇個<br>総数〇個</div>
            <div class="check_box_men"><input type="checkbox" name="bentou" value="4">弁当4　：予約〇個<br>当日〇個<br>総数〇個</div>
        </div>
        <div class="check_box">
            <div class="check_box_men"><input type="checkbox" name="bentou" value="5">弁当5　：予約〇個<br>当日〇個<br>総数〇個</div>
            <div class="check_box_men"><input type="checkbox" name="bentou" value="6">弁当6　：予約〇個<br>当日〇個<br>総数〇個</div>
            <div class="check_box_men"><input type="checkbox" name="bentou" value="7">弁当7　：予約〇個<br>当日〇個<br>総数〇個</div>
            <div class="check_box_men"><input type="checkbox" name="bentou" value="8">弁当8　：予約〇個<br>当日〇個<br>総数〇個</div>
        </div>
    </div>
    <div class="suuryou_kakuninn"><button>数量確認</button></div>
</mian>